# Loading data into Postgres that is conncected to AWS

In [33]:
#import dep.
from sqlalchemy import create_engine

# import the connect library for psycopg2
import psycopg2
# import the error handling libraries for psycopg2
from psycopg2 import OperationalError, errorcodes, errors

In [34]:
from config import db_password

In [35]:
db_string = f"postgres://postgres:{db_password}@group-3.cey3rp5wgnme.us-east-2.rds.amazonaws.com:5432/postgres"

In [36]:
engine = create_engine(db_string)

In [37]:
import pandas as pd

In [38]:
vaccinations_cleaned_df = pd.read_csv("vaccinations_cleaned_df.csv")
cases_cleaned_df = pd.read_csv("cases_cleaned_df.csv")

In [39]:
vaccinations_cleaned_df.columns

Index(['Unnamed: 0', 'country', 'total_vaccinations', 'people_vaccinated',
       'people_fully_vaccinated', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred'],
      dtype='object')

In [40]:
vaccinations_cleaned_df =vaccinations_cleaned_df.drop(["Unnamed: 0"], axis = 1)

In [41]:
vaccinations_cleaned_df

,country,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred
0,Albania,1.008900e+04,8428.0,1661.0,1931.0,0.36,0.29,0.06
1,Algeria,7.503000e+04,0.0,0.0,69070.0,0.17,0.00,0.00
2,Andorra,4.525000e+03,2903.0,0.0,944.0,5.86,3.76,0.00
3,Anguilla,1.341000e+03,1341.0,0.0,1341.0,8.94,8.94,0.00
4,Argentina,1.314247e+07,8776303.0,3818717.0,658938.0,29.09,19.41,8.47
...,...,...,...,...,...,...,...,...
92,Turks and Caicos Islands,6.433000e+03,6433.0,0.0,6438.0,16.62,16.62,0.00
93,United Arab Emirates,1.306694e+08,836568.0,250000.0,4497815.0,1321.17,8.46,2.53
94,United Kingdom,3.817060e+08,362088374.0,19617668.0,16396466.0,562.27,533.35,28.89
95,United States,1.198286e+09,934004135.0,243398388.0,55047439.0,358.29,279.30,72.76
96,Wales,1.684061e+07,16724746.0,115865.0,805670.0,534.10,530.46,3.65

In [42]:
cases_cleaned_df.columns

Index(['Unnamed: 0', 'country', 'new_cases', 'new_deaths', 'total_cases',
       'total_deaths'],
      dtype='object')

In [43]:
cases_cleaned_df = cases_cleaned_df.drop(["Unnamed: 0"], axis=1)

In [47]:
#load data to SQL
vaccinations_cleaned_df.to_sql(name='vaccines', con=engine, if_exists = 'append', index = False)
cases_cleaned_df.to_sql(name='cases', con=engine, if_exists = 'append', index = False)